<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Master</title>
   
    <link href="/static/styles/chessboard.css" rel="stylesheet">
     <link href="/static/styles/chat.css" rel="stylesheet">
    <link rel="stylesheet" href="static/styles/popup.css">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
	    <script src="/static/scripts/sockets.js"></script>
	<script>
	  userId = '{{user.id}}';
	  username = '{{user.username}}';
	</script>
</head>
<body>
    <header>
        <h1>Chess Master</h1>
        <nav>
            {% if user %}
                <p>{{ user.username }}</p>
            {% endif %}
            <ul>
              <li><a href="/">Home</a></li>
                {% if user %}
                    <li><a href="/play/{{ user.id }}">Play</a></li>
                {% else %}
                    <li><a href="/play">Play</a></li>
                {% endif %}
                <li><a href="/create">Login</a></li>
                <li>
                    {% if user %}
                        <a href="/user/{{ user.id }}">User Profile</a>
                    {% else %}
                        <a href="/user">User Profile</a>
                    {% endif %}
                </li>
                <li><a href="/history">Game History</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
    <main>
           
      <h2 id="title"> Welcome to Chess Master </h2>
      <audio id="valid-sound" src="{{ url_for('static', filename='sounds/valid_sound.wav') }}"></audio>
      <audio id="invalid-sound" src="{{ url_for('static', filename='sounds/invalid_sound.wav') }}"></audio>
            <div class="chessboard" id="chessboard"></div>
      <script>
        function playValidSound() {
            var audio = document.getElementById('valid-sound');
            audio.play();
        }
        function playInValidSound() {
            var audio = document.getElementById('invalid-sound');
            audio.play();
        }

      </script>

      <div class="container", id="container">
	<div class="chatbox", id="chatbox">
	  <div class="bar">
            <div class="positioning-container-bar">
              <div class="status"></div>
              <div class="name", id="name">'</div>
            </div>
	  </div>
	  
	  <div class="chat-history" id="chat-history">
	  </div>
	  <div class="chat-input">
            <div class="positioning-container-chat">
              <input type="text" id="chat-text" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
            </div>
	  </div>

	  <div class="chat-actions">
            <div class="positioning-container-chat-actions">
              <div class="actions">
		<div class="action">
		  <i class="fas fa-image"></i>
		</div>
		<div class="action">
		  <i class="fas fa-stop"></i>
		</div>
		<div class="action">
		  <i class="fas fa-grin"></i>
		</div>
		<div class="action">
		  <i class="fas fa-camera"></i>
		</div>
              </div>
            </div>
	  </div>
	  
	</div>
      </div>
  
 
        <div id="before"><p>Play chess online against friends or the computer!</p>
          {% if user %}
          <button onclick="window.location.href='/play/{{user.id}}'">Play with Computer</button>
          {% else %}
          <button onclick="window.location.href='/play'">Play with Computer</button>
          {% endif %}
          <h2>Online Players</h2>
          <ul id= "online">
	    {% if players %}
	    {% for player in players %}
	      <li> {{player.username}}<button id="{{player.username}}" onclick="sendMessage('{{player.id}}')">Invite To Play</button></li>
	    {%endfor%}
	    {%endif%}
          </ul>

	  <div id="popup" class="popup">
	    <p>You have received an invitation. Do you want to accept?</p>
	    <div class="popup-buttons">
              <button onclick="accept()">Accept</button>
              <button onclick="decline()">Decline</button>
	    </div>
	  </div>
	</div>
    </main>
    <footer>
        <p>&copy; 2024 Chess Master. All rights reserved.</p>
    </footer>

    <script src="/static/scripts/chess.js"></script>
    <script src="/static/scripts/move.js"></script>
    <script>
      
      function handleKeyPress(event) {
	  if (event.keyCode === 13) {
              chat();
	  }
      }
      const chat = () => {
	  contents = document.getElementById("chat-text");
	  val = contents.value;
	  if (val.length > 0) {
	      contents.value = "";
	      socket.emit("chat", {from_id: userId,  to_id: userId, 'room': room, content:val});
	  }
	  
      }
       computer = false;
    </script>
</body>
</html>
