<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Chess Master</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <header>
        <h1>Settings</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/play">Play</a></li>
                <li><a href="/create">Login</a></li>
                <li><a href="/user">User Profile</a></li>
                <li><a href="/history">Game_History</a></li>
                <li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Display user settings options here -->
	 <p>Current Theme: {{ settings.theme }}</p>
        <!-- Add options to change theme -->
        
        <h2>Notifications</h2>
        <p>Receive Notifications: {% if settings.notifications %}Yes{% else %}No{% endif %}</p>
        <!-- Add options to enable/disable notifications -->
        
        <h2>Sound</h2>
        <p>Sound Effects: {% if settings.sound %}Enabled{% else %}Disabled{% endif %}</p>
        <!-- Add options to enable/disable sound -->
    </main>
    <footer>
        <p>&copy; 2024 Chess Master. All rights reserved.</p>
    </footer>
    <script src="static/scripts/scripts.js"></script>
</body>
</html>

