<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <header>
        <h1>User Profile</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/play">Play</a></li>
		<li><a href="/create">Login</a></li>
		<li><a href="/user">User Profile</a></li>
		<li><a href="/history">Game_History</a></li>
		<li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Display user profile information here -->
    </main>
    <footer>
        <p>&copy; 2024 Chess Master. All rights reserved.</p>
    </footer>
    <script src="static/scripts/scripts.js"></script>
</body>
</html>
