<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/styles/styles.css">

</head>
<body>
    <header>
        <h1>User Profile</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/play">Play</a></li>
		<li><a href="/create">Login</a></li>
		<li><a href="/user">User Profile</a></li>
		<li><a href="/history">Game_History</a></li>
		<li><a href="/settings">Settings</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Display user profile information here -->
    <h1>User Profile</h1>
    <input type="file" id="fileInput">
     <button onclick="uploadFile()">Upload New Profile</button>
    <p id="status"></p>
	<p id="status"></p>
	<img src = "{{ user.img}}" />
        <p>Welcome, {{ user.username }}!</p>
        <p>Your rating: {{ user.rating }}</p>
	<p>Your fisrt name: {{ user.first_name }}</p>
	<p>Your last name: {{ user.last_name }}</p>
	<p>Your email: {{ user.email }}</p>
	<p>Your address: {{ user.city }}</p>
	<script>
	  function uploadFile() {
    var fileInput = document.getElementById('fileInput');
    var file = fileInput.files[0];
    var formData = new FormData();
    formData.append('profile_picture', file);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/upload', true);

    xhr.upload.onloadstart = function () {
        document.getElementById('status').innerHTML = 'Uploading...';
    };

    xhr.upload.onprogress = function (e) {
        if (e.lengthComputable) {
            var percentComplete = (e.loaded / e.total) * 100;
            document.getElementById('status').innerHTML = 'Uploading: ' + percentComplete + '%';
        }
    };

    xhr.upload.onloadend = function () {
        document.getElementById('status').innerHTML = 'Upload complete!';
    };

    xhr.send(formData);
}

	</script>
    </main>
    <footer>
        <p>&copy; 2024 Chess Master. All rights reserved.</p>
    </footer>
    
</body>
</html>
